.counter{
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: -1;
    pointer-events: none;
    font-size: 18px;
}

.help{
    position: fixed;
    top: 1px;
    left: 10px;
}

.tutorial {
    z-index: -1000;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 1000ms linear;
}

.p-badge{
    min-width: 0.5rem !important;
    height: 0.97rem !important;
}

span.p-button-icon.pi.pi-question-circle {
    font-size: 18pt;
}