<div #bubble 
    class="bubble" 
    [@moveBubble]="{
        value: state,
        params: {
            transform: transform
        }
    }"
    [ngStyle]="{
        'background': model.colour, 
        'cursor': cursor,
        'background-image': 'url(data:image/png;base64,' + model.background + ')',
        'background-size': '100% 100%',
        'background-position': 'center'
    }"
    (mousedown)="onMouseDown()"
    (touchstart)="onMouseDown()"
>       
    <div class="content">
        <span class="message">{{model?.message}}</span>
    </div>
</div>