.bubble {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;

  &:hover {
    opacity: 0.8;
  }
}

.content {
  padding: 20px;
}

.message {
  word-break: break-word;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.6s forwards;
}