.bubble {
  position: absolute;
  height: 45px;
  width: 300px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  padding-left: 32px;
  font-size: 14.5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  touch-action: none;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.grabber {
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-color: grey; /* Adjust as needed */
  border-radius: 15px;
  cursor: grab;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.message {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy {
  margin-left: 10px; /* Adjust as needed */
  flex-shrink: 0;
}
