<div class="bubble" 
    [@moveBubble]="{
    value: state,
    params: {
        transform: transform
    }}" 
    [ngStyle]="{
        'background': model.colour, 
        'cursor': cursor === 'grabbing' ? cursor : 'auto',
    }"
>
    <div class="grabber" (mousedown)="onMouseDown()" [ngStyle]="{'cursor': cursor}">
        
    </div>
    <div class="content">
        <span class="message">{{model?.message}}</span>
        <p-button icon="pi pi-clone" (onClick)="onCopy(model.message)"/>
    </div>
</div>