<!-- TODO add back the arrow when figured out how to parameterize the coordinates-->
<!-- <div class="arrow" #arrow>
    <img 
        draggable="false"
        src="../../assets/arrow-up.svg" 
        alt="arrow" 
        height="100" 
        width="100" 
        (mousedown)="onClickArrow($event)"
        (window:mousemove)="onMoveArrow($event)"
        (window:mouseup)="onReleaseArrow()"
        [ngStyle]="{'transform': arrowTransform}"
    >
</div> -->
<div class="launcher">
    <div class="row mt-1">
        <div class="col-10">
            <input type="text" [(ngModel)]="message" placeholder="message" style="width: 90%;">
        </div>
        <div class="col">
            <input type="color" [style.background]="colour">
        </div>
    </div>
    <div class="row mt-1 mb-1">
        <div class="col">
            <button class="btn btn-primary" (click)="sendMessage(message, colour)">Send</button>
        </div>
    </div>
</div>