<div class="grid mb-1">
    <div class="col">
        <p-inputGroup>
            <p-floatLabel [style]="{width: '100%'}">
                <input #messageInput type="text" pInputText [(ngModel)]="message" id="message" [style]="{width: '100%'}" (keyup.enter)="sendMessage(message)"/>
                <label for="message">Message</label>
            </p-floatLabel>
            <p-inputGroupAddon>
                <p-colorPicker [disabled]="uploadedFile" [(ngModel)]="colour" [disabled]="sending"></p-colorPicker>
            </p-inputGroupAddon>
            <p-inputGroupAddon>
                @if (uploadedFile) {
                    <img 
                        class="file-preview"
                        height="43" 
                        width="47" 
                        [src]="'data:image/png;base64,' + uploadedFile"
                        [ariaDisabled]="sending"
                        [class.disabled]="sending"
                        (click)="onClearUploadedFile()">
                } @else {
                    <p-fileUpload
                        #fileUploader
                        mode="basic" 
                        chooseIcon="pi pi-upload"
                        accept="image/*" 
                        maxFileSize="1000000"
                        uploadLabel=""
                        class="hide-file-name"
                        (onSelect)="onFileSelect($event)"
                        [disabled]="sending">
                    </p-fileUpload>
                }
            </p-inputGroupAddon>
        </p-inputGroup>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <p-button [label]="sending ? 'Sending' : 'Send Bubble'" (click)="sendMessage(message)" [style]="{ width: '100%' }" [disabled]="sending || !message" [loading]="sending"></p-button>
    </div>
</div>