.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-launcher {
  width: 10px;
}

.launcher-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}