@import "primeicons/primeicons.css";

html, body{
    touch-action: manipulation;
    overscroll-behavior: none;
}

body {
    background-color: #eff3f8;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.p-colorpicker-panel .p-colorpicker-color {
    background: transparent url("assets/img/custom-color.png") no-repeat left top
}


.p-colorpicker-panel .p-colorpicker-hue {
    background: transparent url("assets/img/custom-hue.png") no-repeat left top !important;
}